#matchings .separatingLine {
  display: flex;
  border-left: 2px solid gainsboro;
}

#matchings .matchingContainer {
  display: flex;
}
#matchings .matchingContainer .canditate {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 5%;
}

#matchings .matchingImage {
  height: 18vh !important;
  margin: 0vw !important;
}
.matchingImage {
  height: 18vh !important;
  margin: 0vw !important;
}
#matchings .recommendedText {
  color: #007bff !important;
}

#matchings .matchingCard {
  width: 90%;
  height: fit-content;
  background: white;
  border-radius: 4px;
  padding: 2vh;
  margin-bottom: 2vh;
  box-shadow: 1px 1px 8px 3px #ebebeb;
}
#matchings .matchingCard .matchingCardHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#matchings .matchingCard .matchingCardHeader img {
  height: 85px;
  border-radius: 100%;
  width: 85px;
  margin-right: 8px;
  object-fit: cover;
  min-width: 85px;
  background: whitesmoke;
  min-height: 85px;
}
#matchings .matchingCard .matchingCardHeader .matchingCardHeaderInfo {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}
#matchings .actions {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  min-height: 65px;
  height: fit-content;
  align-items: center;
  width: inherit;
}

#matchings .actions .action {
  color: white !important;
  font-size: medium;
  border: none !important;
  min-height: 4vh;
  width: 8vw;
  margin-right: 2vw;
  border-radius: 4px;
  min-width: 80px;
}

.actions-generate {
  gap: 25px;
  margin-top: 15px;
  margin-bottom: 40px;
  justify-content: flex-start !important;
}
#matchings .actions .generate {
  background: white !important;
  color: black !important;
  box-shadow: 1px 1px 15px 5px #f0f0f0 !important;
  border-radius: 5px;
  min-width: 150px !important;
  margin: 0 !important;
}

#matchings .actions .generate:active {
  background: white !important;
  color: black !important;
}

#matchings .actions .generate::before {
  margin-right: 5px;
}

.approve {
  background: #007bff !important;
  background-color: #007bff !important;
}

#matchings .reject {
  background-color: #6c757d !important;
  font-weight: normal !important;
}

#matchings .jumbotron {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
#matchings .jumbotron .h1,
#matchings .jumbotron h1 {
  font-size: 45px;
}

#matchings .semantic-form button[name="cancel"],
.semantic-form button[name="delete"],
.semantic-form button[name="reset"],
.semantic-form button[name="submit"] {
  height: initial !important;
  text-transform: initial !important;
  letter-spacing: initial !important;
  border-radius: initial !important;
  font-weight: initial !important;
  padding: initial !important;
  margin-left: initial !important;
  color: white !important;
  font-size: medium !important;
  border: none !important;
  min-height: 4vh !important;
  width: 8vw !important;
  margin-right: 2vw !important;
  border-radius: 4px !important;
  min-width: 80px !important;
}
#matchings .semantic-form button[name="submit"]:focus,
.semantic-form button[name="submit"]:focus-within,
.semantic-form button[name="submit"]:hover {
  box-shadow: initial !important;
}

.matching-list .semantic-table-holder {
  background: #ffffff90;
  margin-bottom: 85px;
  backdrop-filter: blur(2px);
}

.matching-list .semantic-table-holder th {
  cursor: pointer;
}

.matchNresults {
  display: flex;
  text-decoration: underline;
  gap: 5px;
}
