<div id="matchings">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw; display: flex" class="display-13">
        <semantic-link 
        urlqueryparam-partner='[[urlParam "partner"]]'
        urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
        iri="Default:PartnerCategorySelectList">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        List of repository matchings
      </h1>
    </div>

    <div
      title="Your selected provider"
      style="
        position: fixed;
        left: 15px;
        bottom: 15px;
      "
    >
      <img
        style="height: 80px"
        src='../../assets/images/logos/[[urlParam "partnerimage"]]'
      />
    </div>
    <div class="matchingContainer" >
      <semantic-table
      query='
        SELECT DISTINCT ?subject (COUNT(?match) as ?count) WHERE {
          ?subject <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
          ?subject a <https://pharos.artresearch.net/resource/custom/fc/institution>.
          ?subject skos:closeMatch ?match.
          FILTER NOT EXISTS { ?subject a <https://pharos.artresearch.net/resource/custom/fc/artist> }
          FILTER NOT EXISTS { ?subject owl:sameAs ?a }
        }  GROUP BY ?subject ORDER BY DESC(?count)'
        options='{"showFilter":true, "resultsPerPage":10}'
        number-of-displayed-rows="10"
        column-configuration='[
        {"variableName": "subject", "displayName": "Repository", 
        "cellTemplate": "{{>singleRepositoryTemplate}}"},
        {"variableName": "count", "displayName": "Number of matchings"}
        ]'
      >
        <template id="singleRepositoryTemplate">
            <semantic-link iri="Default:ConfirmRepository"   
              urlqueryparam-partner='[[urlParam "partner"]]'
              urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
              urlqueryparam-subject="{{subject.value}}">
                <div class="matchNresults">
                <mp-label iri="{{subject.value}}"> </mp-label>
                </div>
              </semantic-link>
        </template>
      </semantic-table>
  </div>
  </div>
<style>
 .modal-dialog.overlay-lightbox__dialog.modal-dialog h4.modal-title{
  background: #eaeaea;
  margin-left: 10px;
  padding: 1vh;
  color: black;
  width: 92%;
  padding-left: 35px;
  border-radius: 25px;
  text-transform: none;
}
.matchNresults{
  display: flex;
  text-decoration: underline;

}
</style>