<div id="start-page">
  <div>
    <div class="jumbotron">
      <h1 class="display-13 jumbotronmarginNoflex">
        Find merged records
      </h1>
    </div>
      <div style="display: flex;
      align-items: center;
      flex-direction: column;
    justify-content: center;">
    <h3>or search for a specific resource that has been merged</h3>
      [[> :SearchbarMerged selectedCategory='Artists']]
    </div>
    <div class="card-list">

        <div class="card">
          <img src="../../assets/images/icons/artist.svg" />
          <div class="title">Merged Artists</div>
          </div>
        <div class="card">
          <img src="../../assets/images/icons/photographer.svg" />
          <div class="title">Merged Photographers</div>
        </div>
        <div class="card">
          <img src="../../assets/images/icons/repository.svg" />
          <div class="title">Merged Repositories</div>
        </div>
      </div>
  </div>
