<div id="matchings" class="matching-list">
    <div class="jumbotron">
      <h1  class="display-13 jumbotronmargin displayFlex">
        <semantic-link 
        urlqueryparam-partner='[[urlParam "partner"]]'
        urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
        iri="Default:PartnerCategorySelectList">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        List of repository matchings
      </h1>
    </div>

    <div
      title="Your selected provider"
      class="selectedProvider"
    >
      <img
        style="height: 80px"
        src='../../assets/images/logos/[[urlParam "partnerimage"]]'
      />
    </div>
    <div class="matchingContainer" >
      <semantic-table
      query='
        SELECT DISTINCT ?subject (COUNT(?match) as ?count) WHERE {
          ?subject <https://artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
          ?subject a <https://artresearch.net/resource/custom/fc/institution>.
            ?subject skos:closeMatch ?match.
        }GROUP BY ?subject ORDER BY ASC(?count) LIMIT 1000'
        options='{"showFilter":true, "resultsPerPage":10}'
        number-of-displayed-rows="10"
        column-configuration='[
        {"variableName": "subject", "displayName": "Repository", 
        "cellTemplate": "{{>singleRepositoryTemplate}}"},
        {"variableName": "count", "displayName": "Number of matchings"}
        ]'
      >
        <template id="singleRepositoryTemplate">
            <semantic-link iri="Default:ConfirmRepository"   
              urlqueryparam-partner='[[urlParam "partner"]]'
              urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
              urlqueryparam-subject="{{subject.value}}">
                <div class="matchNresults">
                <mp-label iri="{{subject.value}}"></mp-label>
                <semantic-query query='SELECT ?place WHERE {
                  <{{subject.value}}> <https://artresearch.net/resource/fr/Institution_from_Place> ?place.
                }'
                template="{{> locationTemplate}}"
                >
                <template id="locationTemplate">
                  {{#each bindings}}
                  <mp-label iri="{{place.value}}"></mp-label>
                  {{/each}}
                </template>
              </semantic-query>
                </div>
              </semantic-link>
        </template>
      </semantic-table>
    </div>
<style>
 .modal-dialog.overlay-lightbox__dialog.modal-dialog h4.modal-title{
  background: #eaeaea;
  margin-left: 10px;
  padding: 1vh;
  color: black;
  width: 92%;
  padding-left: 35px;
  border-radius: 25px;
  text-transform: none;
}
</style>
