<div id="matchings" class="matching-list">
    <div class="jumbotron">
      <h1  class="display-13 jumbotronmargin displayFlex">
        <semantic-link 
        urlqueryparam-partner='[[urlParam "partner"]]'
        urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
        iri="Default:PartnerCategorySelectList">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        List of artist matchings
      </h1>
    </div>

    <div
      title="Your selected provider"
      class="selectedProvider"
    >
      <img
        style="height: 80px"
        src='../../assets/images/logos/[[urlParam "partnerimage"]]'
      />
    </div>

    <div class="matchingContainer"  >
     
      <semantic-table
      query='
        SELECT DISTINCT ?subject (COUNT(?match) as ?count) WHERE {
          ?subject <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
          ?subject a  <https://pharos.artresearch.net/resource/custom/fc/artist>.
          OPTIONAL{
            ?subject skos:closeMatch ?match.
          }
          FILTER NOT EXISTS { ?subject a <https://pharos.artresearch.net/resource/custom/fc/institution> }
          FILTER NOT EXISTS { ?subject a <https://pharos.artresearch.net/resource/custom/fc/photographer> }
          FILTER NOT EXISTS { ?subject owl:sameAs ?a }
        } GROUP BY ?subject ORDER BY DESC(?count) LIMIT 1000'
        options='{"showFilter":true, "resultsPerPage":10}'
        number-of-displayed-rows="10"
        column-configuration='[
        {"variableName": "subject", "displayName": "Artist", 
        "cellTemplate": "{{>singleArtistTemplate}}"},
        {"variableName": "count", "displayName": "Number of matchings"}
        ]'
      >
        <template id="singleArtistTemplate">
          <semantic-link iri="Default:ConfirmArtist"   
          urlqueryparam-partner='[[urlParam "partner"]]'
          urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
          urlqueryparam-subject="{{subject.value}}">
          <div class="matchNresults">
              <mp-label iri="{{subject.value}}"> </mp-label>
          </div>
        </semantic-link>
        </template>
      </semantic-table>

    </div>
</div>
<style>


.matchingContainer{
  display: unset !important;

}
</style>