<div class="row" style="margin-top: 40px;">
 
  <bs-col sm="1"></bs-col>
  <bs-col sm="10">
     <h1>
    Reconcield institutions
  </h1>
    <semantic-table id='resources-results'
      number-of-displayed-rows=10
      query=' PREFIX ldp: <http://www.w3.org/ns/ldp#>
      SELECT  ?subject 
              (SAMPLE(?provider) as ?provider)
              (SAMPLE(?providerLabel) as ?providerLabel) 
              (SAMPLE(?value) as ?value) 
              (SAMPLE(?matchId) as ?matchId) 
              (SAMPLE(?attribution) as ?attribution) 
              (SAMPLE(?datetime) as ?datetime) 
              (SAMPLE(?formContainer) as ?formContainer)
              (SAMPLE(?container) as ?container) WHERE {
        ?subject <https://artresearch.net/custom/has_provider> ?provider.                
          GRAPH ?g {
            ?formContainer ldp:contains ?container .
            ?container prov:wasAttributedTo ?attribution;
              prov:generatedAtTime ?datetime.
            ?subject <http://www.w3.org/2002/07/owl#sameAs> ?value.
          }
            ?value a fc:institution.
      }GROUP BY ?subject ORDER BY DESC(?datetime) LIMIT 1000'
      number-of-displayed-rows=10
      no-result-template='<h1 style="margin-top:150px;">There are no pairs in this list</h1>'
        column-configuration=
          '[
            {"variableName":"subject","displayName":"Artresearch", "cellTemplate": "{{>pharos_institution}}"},
            {"variableName":"value","displayName":"ULAN", "cellTemplate": "<a href=\"{{value.value}}\"><mp-label iri=\"{{value.value}}\"></mp-label></a>"},
            {"variableName":"attribution","displayName":"Attribution", "cellTemplate": "<mp-label iri=\"{{attribution.value}}\"></mp-label>"},
            {"variableName":"datetime","displayName":"Modified", "cellTemplate": "{{datetime.value}}"},
            {"variableName":"actions","displayName":"Actions", "cellTemplate": "{{>Actions}}"}
          ]'
      >

        <template id="pharos_institution">
          <div>
            <mp-label iri="{{provider.value}}"></mp-label>: 
            <a href="{{subject.value}}"><mp-label iri="{{subject.value}}"></mp-label></a>
          </div>
        </template>
        <template id="suggest_match">
          {{#if value.value}}
            <a href="{{value.value}}"><mp-label iri="{{value.value}}"></mp-label></a>
          {{else}}
            no suggestion
          {{/if}}
        </template>
        <template id="Actions">
            <mp-ldp-remove-from-container-action action="DELETE" post-action='reload' iri="{{container.value}}" container="http://www.researchspace.org/resource/system/formContainer">
              <button title='This action will remove the item from your matched institutions list. It will be then available under institutions matchings for you or another reviewer to match.' class="btn action btn-danger" style="margin-right:8px;"><i style="color: white;" class="fa fa-trash" aria-hidden=true></i> Delete</button>
            </mp-ldp-remove-from-container-action>
        </template>
    </semantic-table>
  </bs-col>
  <bs-col sm="1"></bs-col>
</div>

<style>
  .actions{
  gap: 150px;
  }
  .matchingImage {
    height: 18vh !important;
    margin: 0vw !important;
  }
</style>