<div id="matchings">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1  class="display-13 jumbotronmargin displayFlex">
        <semantic-link 
        urlqueryparam-partner='[[urlParam "partner"]]'
        urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
        iri="Default:PartnerCategorySelectList">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        List of repository matchings
      </h1>
    </div>

    <div
      title="Your selected provider"
      class="selectedProvider"
    >
      <img
        style="height: 80px"
        src='../../assets/images/logos/[[urlParam "partnerimage"]]'
      />
    </div>
    <div class="matchingContainer" >
      <semantic-table
      query='
        SELECT ?subject WHERE {
            ?subject <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
            ?subject a <https://pharos.artresearch.net/resource/custom/fc/institution>.
            ?subject skos:closeMatch ?match.
            FILTER NOT EXISTS { ?subject a <https://pharos.artresearch.net/resource/custom/fc/artist> }
            FILTER NOT EXISTS { ?subject owl:sameAs ?a }
        }LIMIT 1
      '
     tuple-template="{{>singleRepositoryTemplate}}"
      >
        <template id="singleRepositoryTemplate">
          <div class="results-row FullWidth">
          <semantic-link iri="Default:ConfirmRepository"   
            urlqueryparam-partner='[[urlParam "partner"]]'
            urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
            urlqueryparam-subject="{{subject.value}}">
              <div class="matchNresults">
         <mp-label iri="{{subject.value}}"> </mp-label>
              <semantic-query
              query='SELECT  (COUNT(?match) as ?count)  WHERE {
         <{{subject.value}}> skos:closeMatch ?match.
         OPTIONAL{
          <{{subject.value}}> skos:exactMatch ?recommended.
          }
         OPTIONAL{
            ?match <https://pharos.artresearch.net/resource/fr/Institution_depicted_by> ?wikiImage.
           BIND(str(?wikiImage) as ?image)
         }
          BIND(REPLACE(str(?match),"http:","https:") as ?matchUrl).
         BIND(<{{subject.value}}> as ?currentCanditate)
       }ORDER BY DESC(?recommended)'
              template='{{> countTermplate }}'>
               <template id='countTermplate'>
                 {{#each bindings}}
                  <div class="results-match"> ({{count.value}}) </div>
                 {{/each}}
               </template>
            </semantic-query>
          </div>
            </semantic-link>
         <hr>
            </div>
        </template>
      </semantic-table>
</div>
