<div id="matchings">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1  class="display-13 jumbotronmargin displayFlex">
        <semantic-link 
        urlqueryparam-partner='[[urlParam "partner"]]'
        urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
        iri="Default:ConfirmRepositoryList">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
        Confirm repository matchings
      </h1>
    </div>

    <div
      title="Your selected provider"
      class="selectedProvider"
    >
      <img
        style="height: 80px"
        src='../../assets/images/logos/[[urlParam "partnerimage"]]'
      />
    </div>
    <div class="matchingContainer" >

      <semantic-query
      {{#ifCond "===" "https://artresearch.net/resource/pmc/source/PMC"}}
      query='
        SELECT ?subject  WHERE {
     
         FILTER NOT EXISTS { ?subject <https://artresearch.net/resource/fr/sameAs> ?a }
          FILTER NOT EXISTS {
                  ?subject <http://www.w3.org/2002/07/owl#sameAs> ?ulan.
                  FILTER CONTAINS(STR(?ulan),"ulan") 
                
           }
           FILTER NOT EXISTS {
                  ?subject <http://www.w3.org/2002/07/owl#sameAs> ?ulan.
                  FILTER CONTAINS(STR(?ulan),"ulan") 
                
           }
           FILTER NOT EXISTS { ?subject <https://vocab.artresearch.net/custom/reviewed> true}
            BIND(<[[urlParam "subject"]]> as ?subject)
        }LIMIT 1
      '
      {{else}}
            query='
        SELECT ?subject ?recommended WHERE {
           OPTIONAL{
            ?subject skos:closeMatch ?recommended.
          }
         FILTER NOT EXISTS { ?subject <https://artresearch.net/resource/fr/sameAs> ?a }
          FILTER NOT EXISTS {
                  ?subject <http://www.w3.org/2002/07/owl#sameAs> ?ulan.
                  FILTER CONTAINS(STR(?ulan),"ulan") 
                
           }
           FILTER NOT EXISTS {
                  ?subject <http://www.w3.org/2002/07/owl#sameAs> ?ulan.
                  FILTER CONTAINS(STR(?ulan),"ulan") 
                
           }
           FILTER NOT EXISTS { ?subject <https://vocab.artresearch.net/custom/reviewed> true}
            BIND(<[[urlParam "subject"]]> as ?subject)
        }LIMIT 1
      '
      {{/ifCond}}
      no-result-template='<h1 class="FullWidth textCenter">You have reconcield this resource, please go back and continue with the resources remaining from the given list</h1>'
      template="{{>singleRepositoryTemplate}}"
      >
        <template id="singleRepositoryTemplate">
      <div class="canditate"> 
        <div class="displayFlex">
          <!-- <img style="border-radius: 100%; object-fit: fill; height: 100px; width: 100px;"  src="http://commons.wikimedia.org/wiki/Special:FilePath/Michelangelo%20Daniele%20da%20Volterra%20%28dettaglio%29.jpg?width=500" /> -->
          <div  class="displayFlexColumn marginLeft15">
            <h1 style="font-size: 32px !important">     
              <mp-label iri="{{bindings.0.subject.value}}" ></mp-label>
            </h1>
            <small><a target="_viewSubjectRepository" href="https://artresearch.net/resource/?uri={{bindings.0.subject.value}}">View on artresearch</a></small>
          </div>
        </div>
        <div>
          <mp-field-visualization
          subject="{{bindings.0.subject.value}}"
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>|<http://www.researchspace.org/resource/system/fields/domain>   cfc:institution. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>workInfo}}'
          >
        <template id="workInfo">
          <div class="workInfoContainer">
            [[> :ResourceFieldBasedVisualization subject="{{bindings.0.subject.value}}" ]]
          </div>
        </template>
        </mp-field-visualization>
          [[> :FilterSearchArtworkRepositorymatch repositoryIri="{{bindings.0.subject.value}}" ]]
        </div>
      </div>
      <div class="separatingLine"></div>
      <div class="canditate">
          <semantic-query
          query='SELECT ?match ?matchUrl ?recommended ?currentCanditate ?image WHERE {
            <{{bindings.0.subject.value}}> skos:closeMatch ?match.
            OPTIONAL{
              <{{bindings.0.subject.value}}> skos:exactMatch ?recommended.
            }
            OPTIONAL{
              ?match <https://artresearch.net/resource/fr/Institution_depicted_by> ?wikiImage.
              BIND(str(?wikiImage) as ?image)
            }
            BIND(REPLACE(str(?match),"http:","https:") as ?matchUrl).
            BIND(<{{bindings.0.subject.value}}> as ?currentCanditate)
         }'
         template="{{>possibleMatchesTemplate}}"
         no-result-template='{{>onlyGenerateButtons}}'
         >  
         <template id="possibleMatchesTemplate">
          <h2 style="font-size: 22px; margin-bottom: 4vh;">Click on "Same" button to verify suggested matches</h2 style="font-size: 22px;">
          <small>or generate/submit a uri</small>

          <div class="actions actions-generate">
            <mp-overlay-dialog title="‎‎Confirm Pharos URI generation" >
              <mp-overlay-dialog-trigger>
                <button
                  id="12345"
                  name="submit"
                  class="btn generate"
                  title="If no match is found, this method can be used to create a unique Pharos entity"
                >
                  <i>
                    <img style="height: 15px;margin-right: 8px;" src="/assets/images/Pharos.ico"/>
                  </i>
                  Create a new Pharos URI
                </button>
              </mp-overlay-dialog-trigger>

              <mp-overlay-dialog-content>
                <h1>Are you sure you would like to generate a new Pharos URI?</h1>
                <h2>If yes, click on the Generate button bellow.</h2>
                <semantic-form
                new-subject-template="{{bindings.0.currentCanditate.value}}"
                browser-persistance="true"
                persistence="ldp"
                post-action="reload"
                form-id="samehash"
                fields='[[  fieldDefinitions
                            confirmed="https://vision.artresearch.net/container/fieldDefinitionContainer/Confirmed_Matched_Institutions_Hash"
                        ]]'
              >
                <semantic-form-hidden-input
                  for="confirmed"
                  default-value="true"
                ></semantic-form-hidden-input>
    
                <button
                  id="12345"
                  name="submit"
                  class="btn generate approve"
                  title="Click to generate new Pharos URI"
                >Generate</button>
              </semantic-form>
  
              </mp-overlay-dialog-content>
            </mp-overlay-dialog>
            <mp-overlay-dialog title="‎‎Give URI" >
              <mp-overlay-dialog-trigger>
    
                <button
                  id="12345"
                  name="submit"
                  class="btn generate"
                  title="If no match is found, this method can be used to create a unique Pharos entity"
                ><i><img style="height: 15px;
                  margin-right: 8px;" src="/assets/images/wikidata.ico"/></i> Submit WikiData URI</button>
              </mp-overlay-dialog-trigger>
              <mp-overlay-dialog-content>
                <h1>Please enter a WikiData URI</h1>
                <semantic-form
                  new-subject-template="{{bindings.0.currentCanditate.value}}"
                  browser-persistance="true"
                  persistence="ldp"
                  post-action="reload"
                  form-id="uriSubmit"
                  fields='[[  fieldDefinitions
                              submit_uri="http://www.researchspace.org/fieldDefinition/Give_Institution_URI"
                          ]]'
                >
                  <semantic-form-text-input for='submit_uri'></semantic-form-text-input>
                  <button
                    id="12345"
                    name="submit"
                    class="btn   action approve"
                    title="Click to generate new Pharos URI"
                  >Submit</button>
                </semantic-form>
  
              </mp-overlay-dialog-content>
            </mp-overlay-dialog>
          </div>
  
           {{#each bindings}}
            <div class="matchingCard">
                <div class="matchingCardHeader">
                  {{#if image.value}}
                    <img src="{{image.value}}?width=250"/>
                  {{/if}}
                <div class="matchingCardHeaderInfo">
                  <h2  style="font-size: 24px; font-weight: bold;">
                    <mp-label iri="{{match.value}}" ></mp-label>
                    </h2>
                    {{#ifCond recommended.value "===" match.value }}
                    <h2 class="recommendedText">
                      Recommended
                    </h2>
                    {{/ifCond}}
                    <mp-overlay-dialog title="‎‎{{match.value}}" type="lightbox">
                      <mp-overlay-dialog-trigger
                        >
                        [[#if (ask "ASK { FILTER CONTAINS('{{match.value}}','wikidata') }")]]
                            <small class="clickable">View at Wikidata</small>
                         [[else]]
                            <small class="clickable">View at Getty</small>
                        [[/if]]
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        <iframe src="{{matchUrl.value}}"></iframe>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                </div>
                <div class="actions">
                  <mp-overlay-dialog title="‎‎Confirm matching" >
                    <mp-overlay-dialog-trigger
                      >
          
                      <button
                      id="1234"
                      name="submit"
                      class="btn btn-default action approve"
                      titl="Click to confirm two Repository instances as the same"
                    > Same </button>
                    </mp-overlay-dialog-trigger>
                    <mp-overlay-dialog-content>
                      <h1>Are you sure you want to create this matching?</h1>
                      <h2>If yes, click on "Confirm" button bellow.</h2>
                      <semantic-form
                      new-subject-template="{{currentCanditate.value}}"
                      urlqueryparam-partner='[[urlParam "partner"]]'
                      urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
                      browser-persistance="true"
                      persistence="ldp"
                      post-action="reload"
                      form-id="IMApprove1"
                      fields='[[  fieldDefinitions
                                  confirmed="https://vision.artresearch.net/container/fieldDefinitionContainer/Confirmed_Matched_Institutions"
                              ]]'
                    >
                      <semantic-form-hidden-input
                        for="confirmed"
                        default-value="{{match.value}}"
                      ></semantic-form-hidden-input>
    
                      <button
                        id="1234"
                        name="submit"
                        class="btn btn-default action approve"
                        title="Click to confirm two Repository instances as the same"
                      > Confirm </button>
                    </semantic-form>
        
                          </mp-overlay-dialog-content>
                  </mp-overlay-dialog>
                </div>
              </div>
              <div class="matchingCardBody">
                <mp-field-visualization
                subject="{{match.value}}"
                fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  cfc:institution. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
                template='{{>workInfo}}'
                >
              <template id="workInfo">
                <div class="workInfoContainer">
                  [[> :ResourceFieldBasedVisualization subject="{{match.value}}" ]]
                </div>
              </template>
              </mp-field-visualization>
              </div>
            </div>
          {{/each}}
       </template>

       <template id="onlyGenerateButtons">
        <semantic-query query='
        SELECT ?currentCanditate WHERE {
         BIND(<{{bindings.0.subject.value}}> as ?currentCanditate)
        }LIMIT 1
        '
        template='{{>noSuggestedMatchings}}'
        >
        <template id='noSuggestedMatchings'>
         <h2 style="font-size: 22px; margin-bottom: 4vh;">Generate a Pharos URI or provide a WikiData URI</h2 style="font-size: 22px;">
          <div class="actions actions-generate">
            <mp-overlay-dialog title="‎‎Confirm Pharos URI generation" >
              <mp-overlay-dialog-trigger
                >
                <button
                id="12345"
                name="submit"
                class="btn generate"
                title="If no match is found, this method can be used to create a unique Pharos entity"
              ><i><img style="height: 15px;
                margin-right: 8px;" src="/assets/images/Pharos.ico"/></i>Create a new Pharos URI</button>
              </mp-overlay-dialog-trigger>
              <mp-overlay-dialog-content>
                <h1>Are you sure you would like to generate a new Pharos URI?</h1>
                <h2>If yes, click on the Generate button bellow.</h2>
                <semantic-form
                new-subject-template="{{bindings.0.currentCanditate.value}}"
                browser-persistance="true"
                persistence="ldp"
                post-action="reload"
                form-id="samehash"
                fields='[[  fieldDefinitions
                            confirmed="https://vision.artresearch.net/container/fieldDefinitionContainer/Confirmed_Matched_Institutions_Hash"
                        ]]'
              >
                <semantic-form-hidden-input
                  for="confirmed"
                  default-value="true"
                ></semantic-form-hidden-input>
    
                <button
                  id="12345"
                  name="submit"
                  class="btn generate approve"
                  title="Click to generate new Pharos URI"
                >Generate</button>
              </semantic-form>
  
                    </mp-overlay-dialog-content>
            </mp-overlay-dialog>
            <mp-overlay-dialog title="‎‎Give URI" >
              <mp-overlay-dialog-trigger>
    
                <button
                  id="12345"
                  name="submit"
                  class="btn generate"
                  title="If no match is found, this method can be used to create a unique Pharos entity"
                ><i><img style="height: 15px;
                  margin-right: 8px;" src="/assets/images/wikidata.ico"/></i> Submit WikiData URI</button>
              </mp-overlay-dialog-trigger>
              <mp-overlay-dialog-content>
                <h1>Please enter a WikiData URI</h1>
                <semantic-form
                  new-subject-template="{{bindings.0.currentCanditate.value}}"
                  browser-persistance="true"
                  persistence="ldp"
                  post-action="reload"
                  form-id="uriSubmit"
                  fields='[[  fieldDefinitions
                              submit_uri="http://www.researchspace.org/fieldDefinition/Give_Institution_URI"
                          ]]'
                >
                  <semantic-form-text-input for='submit_uri'></semantic-form-text-input>
                  <button
                    id="12345"
                    name="submit"
                    class="btn   action approve"
                    title="Click to generate new Pharos URI"
                  >Submit</button>
                </semantic-form>
  
              </mp-overlay-dialog-content>
            </mp-overlay-dialog>
          </div>
        </template>

         </semantic-query>
    
      </template>
       </semantic-query>
      </div>
    </template>
  </semantic-query>
    </div>
</div>
