<div id="matchings">
  <!-- PHAROS SECTION -->
  <div>
    <div class="jumbotron">
      <h1 style="margin-left: 13vw; display: flex" class="display-13">
        <semantic-link 
        urlqueryparam-partner='[[urlParam "partner"]]'
        urlqueryparam-partnerimage='[[urlParam "partnerimage"]]'
        iri="Default:PartnerCategorySelect">
          <div class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back
          </div>
        </semantic-link>
       Confirm photographer matchings
      </h1>
    </div>

    <div
      title="Your selected provider"
      style="
        position: fixed;
        left: 15px;
        bottom: 15px;
      "
    >
      <img
        style="height: 80px"
        src='../../assets/images/logos/[[urlParam "partnerimage"]]'
      />

    </div>
    <div class="matchingContainer">
      <semantic-query
      query='
        SELECT ?subject ?recommended WHERE {
          ?subject <https://pharos.artresearch.net/custom/has_provider> <[[urlParam "partner"]]>.
          ?subject a <https://pharos.artresearch.net/resource/custom/fc/photographer>.
          ?subject skos:closeMatch ?recommended.
          FILTER NOT EXISTS { ?subject owl:sameAs ?a }
        }LIMIT 1
      '
      no-result-template='<h1 style="text-align: center;width: 100%;">Currently there are no more reconciliations to be confirmed</h1>'
      template="{{>singlePhotographerTemplate}}"
      >
        <template id="singlePhotographerTemplate">
      <div class="canditate">
        <div style="display: flex;">
          <!-- <img style="border-radius: 100%; object-fit: fill; height: 100px; width: 100px;"  src="http://commons.wikimedia.org/wiki/Special:FilePath/Michelangelo%20Daniele%20da%20Volterra%20%28dettaglio%29.jpg?width=500" /> -->
          <div style="display: flex; flex-direction: column; margin-left: 15px;">
            <h1 style="font-size: 32px !important">     
              <mp-label iri="{{bindings.0.subject.value}}" ></mp-label>
            </h1>
            <small><a target="_viewSubjectPhotographer" href="https://artresearch.net/resource/?uri={{bindings.0.subject.value}}">View on artresearch</a></small>
          </div>
        </div>
        <div>
          <mp-field-visualization
          subject="{{bindings.0.subject.value}}"
          fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/external_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
          template='{{>workInfo}}'
          >
        <template id="workInfo">
          <div class="workInfoContainer">
            [[> :ResourceFieldBasedVisualization subject="{{bindings.0.subject.value}}" ]]
          </div>
        </template>
        </mp-field-visualization>
          [[> :FilterSearchArtworkPhotographermatch photographerIri="{{bindings.0.subject.value}}" ]]
          [[> :FilterSearchArtworkRepositorymatch repositoryIri="{{bindings.0.subject.value}}" ]]
        </div>
      </div>
      <div class="separatingLine"></div>
      <div class="canditate">
        <h2 style="font-size: 22px; margin-bottom: 4vh;">Click on "Same" button to verify suggested matches</h2 style="font-size: 22px;">       
       <semantic-query
       query='SELECT ?match ?currentCanditate ?image ?recommended WHERE {
         <{{bindings.0.subject.value}}> skos:closeMatch ?match.
         OPTIONAL{
          <{{bindings.0.subject.value}}> skos:exactMatch ?recommended.
        }
         OPTIONAL{
           {
            ?match <https://pharos.artresearch.net/resource/fr/Person_depicted_by> ?wikiImage.
          }UNION{
            ?match <https://pharos.artresearch.net/resource/fr/Institution_depicted_by> ?wikiImage.
          }
          BIND(str(?wikiImage) as ?image)
        }
        BIND(<{{bindings.0.subject.value}}> as ?currentCanditate)
      }ORDER BY DESC(?recommended)'
      template="{{>possibleMatchesTemplate}}"
      >  
      <template id="possibleMatchesTemplate">
        {{#each bindings}}
           <div class="matchingCard">
             <div class="matchingCardHeader">
               {{#if image.value}}
                 <img src="{{image.value}}?width=250"/>
               {{/if}}
                <div class="matchingCardHeaderInfo">
                  <h2  style="font-size: 24px; font-weight: bold;">
                    <mp-label iri="{{match.value}}" ></mp-label>
                    </h2>
                    {{#ifCond recommended.value "===" match.value }}
                    <h2 class="recommendedText">
                      Recommended
                    </h2>
                    {{/ifCond}}
                    <mp-overlay-dialog title="‎‎{{match.value}}" type="lightbox">
                      <mp-overlay-dialog-trigger
                        >
                    <small class="clickable">View at WikiData</small>
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        <iframe src="{{match.value}}"></iframe>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                </div>
                <div class="actions">                  
                  <semantic-form
                  new-subject-template="{{currentCanditate.value}}"
                  browser-persistance="true"
                  persistence="sparql"
                  post-action="reload"
                  form-id="IMApprove1"
                  fields='[[  fieldDefinitions
                              confirmed="http://www.researchspace.org/fieldDefinition/Confirmed_Matched_Photographers"
                          ]]'
                >
                  <semantic-form-hidden-input
                    for="confirmed"
                    default-value="{{match.value}}"
                  ></semantic-form-hidden-input>
     
                    <button
                    id="1234"
                    name="submit"
                    class="btn btn-default action approve"
                    title="Click to confirm two Photographer instances as the same"
                  >
                    Same
                  </button>
                </semantic-form>
                </div>
              </div>
              <div class="matchingCardBody">
                <mp-field-visualization
                subject="{{match.value}}"
                fields='[[ fieldDefinitionsFromQuery "SELECT ?field WHERE {  ?field <http://www.researchspace.org/resource/system/fields/category>  <http://www.researchspace.org/ontologies/platform/FieldCategories/external_info>. OPTIONAL {?field <http://www.researchspace.org/resource/system/fields/order> ?w. BIND(xsd:integer(?w) as ?orderNo)} } ORDER BY ASC(?orderNo)" ]]'
                template='{{>workInfo}}'
                >
              <template id="workInfo">
                <div class="workInfoContainer">
                  [[> :ResourceFieldBasedVisualization subject="{{match.value}}" ]]
                </div>
              </template>
              </mp-field-visualization>
              </div>
            </div>
          {{/each}}
       </template>
       </semantic-query>
      </div>
    </template>
  </semantic-query>
    </div>
</div>
<style>
  h4.modal-title{
  background: #dadada;
  padding: 1vh;
  color: black;
  width: 92%;
  padding-left: 35px;
  border-radius: 25px;
  text-transform: none;
}
</style>